
/* Post */
/* The recipient field is a text field hidden by css rather than a hidden field so that we can attach validation to it. */
#page-blocks-appreciation-post #fitem_id_recipient {
    display: none;
}
#page-blocks-appreciation-post #fitem_id_recipient>div{
    display: none;
}
#page-blocks-appreciation-post #fitem_id_recipient.has-danger {
    display: block;
    height: 22px;
    overflow: hidden;
}
#page-blocks-appreciation-post #fitem_id_recipient.has-danger:before {
    content: "You must select a recipient.";
    color: red;
    width: 100%;
    height: 22px;
    margin-left: 15px;
}

 /* Recipient selector */
#page-blocks-appreciation-post .recipient-selector .recipient-selection,
.block_appreciation .recipient-selector .recipient-selection {
    margin-bottom: 8px;
    overflow: hidden;
}
#page-blocks-appreciation-post .recipient-selector .recipient-tag,
.block_appreciation .recipient-selector .recipient-tag {
    background: #deeaff;
    padding: 8px 12px;
    font-weight: 800;
    display: inline-block;
    cursor: pointer;
}
#page-blocks-appreciation-post .recipient-selector .recipient-input-wrap,
.block_appreciation .recipient-selector .recipient-input-wrap {
    position: relative;
    max-width: 500px;
}
#page-blocks-appreciation-post .recipient-selector .recipient-autocomplete,
.block_appreciation .recipient-selector .recipient-autocomplete {
    max-width: 500px;
    background-color: #fff;
}
#page-blocks-appreciation-post .recipient-selector .spinner,
.block_appreciation .recipient-selector .spinner {
    position: absolute;
    top: 9px;
    right: 9px;
    margin: 0;
}
#page-blocks-appreciation-post .recipient-selector.searching .spinner,
.block_appreciation .recipient-selector.searching .spinner {
    display: block;
}
#page-blocks-appreciation-post .recipient-selector .recipient-results,
.block_appreciation .recipient-selector .recipient-results {
    display: none;
    max-width: 500px;
    padding: 3px 0;
    border: 1px solid #ccc;
    border-top: 0 none;
}
#page-blocks-appreciation-post .recipient-selector .recipient-results.active,
.block_appreciation .recipient-selector .recipient-results.active {
    display: block;
}
#page-blocks-appreciation-post .recipient-selector .recipient-result,
.block_appreciation .recipient-selector .recipient-result {
    display: block;
    padding: 3px 11px;
    cursor: pointer;
}
#page-blocks-appreciation-post .recipient-selector .recipient-result:hover,
.block_appreciation .recipient-selector .recipient-result:hover {
    background: #f2f2f2;
}

/* List */
.block_appreciation.card,
#page-blocks-appreciation-list #region-main {
    background-color: #f4f6f8;
    overflow: visible;
}
.block_appreciation .bapp-header {
    text-align: right;
}
.block_appreciation .bapp-header .filter-title {
    float: left;
}
.block_appreciation .bapp-header .user-selector {
    display: inline-block;
    background: #fff;
    text-align: left;
    position: relative;
}
.block_appreciation .bapp-header .user-selector .recipient-results {
    position: absolute;
    z-index: 99;
    background: #fff;
    width: 100%;
}
.block_appreciation .bapp-header .user-selector .recipient-selection {
    margin: 0;
}
.block_appreciation .bapp-header .user-selector .recipient-autocomplete {
    vertical-align: middle;
    display: inline-block;
}
.block_appreciation .bapp-header .filter {
    display: inline-block;
}
.block_appreciation .bapp-header .filter a {
    position: relative;
}
.block_appreciation .bapp-header .filter .filter-unapproved:after {
    content: " ";
    background-color: red;
    position: absolute;
    top: 5px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-left: 3px;
}
.block_appreciation .bapp-list {
    margin-top: 20px;
}
.block_appreciation .bapp-list .post {
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px 0px #e4e6e8;
    background-color: #fff;
    color: #000;
    position: relative;
    border: 1px solid #ddd;
}
.block_appreciation .bapp-list .post .header {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #e4e6e8;
    padding: 10px 15px;
    overflow: hidden;
}
.block_appreciation .bapp-list .post .footer {
    border-top: 1px solid #e4e6e8;
    overflow: hidden;
}
.block_appreciation .bapp-list .post .note {
    display: none;
    font-style: italic;
    font-size: 13px;
    padding: 6px 15px 0;
}
.block_appreciation .bapp-list .post .creator,
.block_appreciation .bapp-list .post .seperator,
.block_appreciation .bapp-list .post .recipient {
    display: inline-block;
}
.block_appreciation .bapp-list .post .recipient {
    font-weight: 600;
}
.block_appreciation .bapp-list .post .header .fullname {
    white-space: nowrap;
    overflow: hidden;
}
.block_appreciation .bapp-list .post .creator .fullname:after {
    content: "to";
    margin-left: 9px;
    margin-right: 7px;
    color: #000;
}
.block_appreciation .bapp-list .post .header .meta {
    font-size: 11px;
    float: right;
    text-align: right;
}
.block_appreciation .bapp-list .post .header .meta .action:after {
    content: "•";
    color: #777;
    margin: 0 5px;
}
.block_appreciation .bapp-list .post .header .meta .action:last-of-type:after {
    content: "";
    margin: 0;
}
.block_appreciation .bapp-list .post .header .meta .action-approve {
    display: none;
}
.block_appreciation .bapp-list .post .userphoto {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    border: 0 none;
    background-color: #ccc;
}
.block_appreciation .bapp-list .post .userphoto img {
    display: block;
    width: 100%;
    height: 100%;
}

.block_appreciation .bapp-list .post .message {
    padding: 10px 15px;
    overflow: hidden;
}

.block_appreciation .bapp-list .post .message p:last-of-type {
    margin-bottom: 0;
}
/* Unapproved post */
.block_appreciation .bapp-list .post.unapproved {
    background-color: #f8dec4;
}
.block_appreciation .bapp-list .post.unapproved .header {
    border-bottom: 1px solid #bcbcbc;
}
.block_appreciation .bapp-list .post.unapproved .note {
    display: block;
}
.block_appreciation .bapp-list .post.unapproved .header .meta .action-approve {
    display: inline;
}
.block_appreciation .bapp-list .post.removing {
    background-color: #bbbbbb;
}
.block_appreciation .bapp-list .post.unapproved .footer {
    display: none;
}
.block_appreciation .bapp-list .post .footer .numlikes {
    font-size: 11px;
    padding-left: 10px;
    display: inline-block;
    float: left;
    line-height: 50px;
}
.block_appreciation .bapp-footer a.next {
    display: none;
}
.block_appreciation .post.submitting .spinner {
    display: block;
}

/* Heart */
.block_appreciation .bapp-list .post .footer .heart {
    cursor: pointer;
    height: 50px;
    width: 50px;
    background-image:url('/blocks/appreciation/pix/heart.png');
    background-position: left;
    background-repeat:no-repeat;
    background-size:2900%;
    display: block;
    float: left;
}
.block_appreciation .bapp-list .post .footer .heart.is_selected {
    background-position:right;
}
.block_appreciation .bapp-list .post .footer .heart.is_animating {
    animation: bapp-heart-burst .8s steps(28) 1;
}
@keyframes bapp-heart-burst {
    from {background-position:left;}
    to { background-position:right;}
}


/* Spinner */
#page-blocks-appreciation-post .spinner,
.block_appreciation .spinner {
    display: none;
    padding: 0;
    width: 20px;
    float: right;
    margin-right: 15px;
    margin-top: 5px;
}
#page-blocks-appreciation-post .spinner .circle,
.block_appreciation .spinner .circle {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid transparent;
    border-top-color: #313131;
    border-left-color: #313131;
    text-indent: -9999px;
    margin: 0 auto;
}
#page-blocks-appreciation-post .spin,
.block_appreciation .spin {
    -webkit-animation: bappspin 0.4s linear 0s infinite;
    -moz-animation: bappspin 0.4s linear 0s infinite;
    -o-animation: bappspin 0.4s linear 0s infinite;
    animation: bappspin 0.4s linear 0s infinite;
}
@-webkit-keyframes bappspin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes bappspin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@keyframes bappspin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

/* Loader */;
.block_appreciation .loader {
    display: none;
    float: left;
    padding: 40px 0 40px;
    width: 100%;
    
}
.block_appreciation .loader .circle {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid transparent;
    border-top-color: #595959;
    border-left-color: #595959;
    text-indent: -9999px;
    margin: 0 auto;
}

/* Print */
@media print  
{
    .block_appreciation .post {
        page-break-inside: avoid;
    }
}